.order {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 35vh;
    background: #E0B11C;
    z-index: 2;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.order .cart {
    width: 90vw;
    height: 25vh;
    background: #131719;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.order button {
    width: 235px;
    height: 40px;
    color: #131719;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.cart span {
    font-size: 18px;
}

.cart path {
    fill: white;
}